name: Sanity
on: [push]
jobs:
  SanityOnMulti:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ['3.10', '3.11']
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - uses: s-weigand/setup-conda@v1
        
      - run: python3 -m venv .venv
      - run: .venv/bin/python -m pip install "pytest<8.1"
      - run: .venv/bin/python -m pip install "numpy>=1.25"
      - run: .venv/bin/python -m pip install "ray>=2.7.0"
      - run: .venv/bin/python -m pytest test
